.campus-view {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.campus-text {

}

.campus-img {
    width: 60vw;
    max-width: 800px;
}

#no-campus-img {
    width: 55vw;
    max-width: 300px;
}
