#student-view {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 20px;
}

.student-view-text {
    text-align: center;
}

.student-view-text h1{
    font-size: 5vw;
    margin: 5px;
}

.student-view-text h2 {
    font-size: 2.3vw;
    margin: 5px;
}

.student-view-text h3 {
    margin: 5px;
}

.student-img {
    width: 60vw;
    max-width: 800px;
}

#no-student-img {
    width: 55vw;
    max-width: 300px;
}
